config KLD2844B_SUPPORT
	bool "board kld2844b support"
	default n
	---help---
	  board kld2844b support

config KLD35512_SUPPORT
	bool "board kld35512 support"
	default n
	---help---
	  board kld35512 support

config LCD_100ASK_SUPPORT
	bool "board lcd 100ask support"
	default n
	---help---
	  board lcd 100ask support

