menuconfig USE_100ASK_MODULE_DRIVER
	bool "USE USE_100ASK_MODULE_DRIVER"
	default n

if USE_100ASK_MODULE_DRIVER

source components/common/thirdparty/100ask_r128_demos/module_driver/src/iic_oled/Kconfig
source components/common/thirdparty/100ask_r128_demos/module_driver/src/spi_lcd/Kconfig
source components/common/thirdparty/100ask_r128_demos/module_driver/src/passive_buzzer/Kconfig
source components/common/thirdparty/100ask_r128_demos/module_driver/src/rotary_encoder/Kconfig
source components/common/thirdparty/100ask_r128_demos/module_driver/src/ir_receiver/Kconfig
source components/common/thirdparty/100ask_r128_demos/module_driver/src/spi_flash/Kconfig
source components/common/thirdparty/100ask_r128_demos/module_driver/src/dht11/Kconfig
source components/common/thirdparty/100ask_r128_demos/module_driver/src/servo/Kconfig
source components/common/thirdparty/100ask_r128_demos/module_driver/src/ws2812/Kconfig

endif
